        <!-- Nav Popup -->
<div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
        <div class="position-center-center">
            <div class="col-sm-5">

                <!-- Nav -->
                <nav>
                    <ul class="cd-primary-nav">
                        <li class="@(ViewBag.MenuIndex==0?"active":"")"> <a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                        <li class="drop-menu">
                            <a href="#" class="title collapsed" data-toggle="collapse" data-target="#down-1">Ürünler</a>
                            <div class="collapse" id="down-1">
                                <div class="well">
                                    <ul>
                                        <li class="@(ViewBag.MenuIndex==3?"active":"")"> <a href="#">Erkek</a> </li>
                                        <li class="@(ViewBag.MenuIndex==4?"active":"")"> <a href="#">Kadın</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="@(ViewBag.MenuIndex==1?"active":"")"> <a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a> </li>
                        <li class="@(ViewBag.MenuIndex==2?"active":"")"> <a asp-controller="Home" asp-action="Contact">İletişim</a> </li>
                    </ul>
                </nav>

            </div>

            <!-- Right Section -->
            <div class="col-sm-7">
            </div>
        </div>
    </div>
</div>

<!-- Header -->
<header class="header-2">
    <div class="container-fluid">
        <div class="sticky">

            <!-- Nav Icon -->
            <a href="#cd-nav" class="cd-nav-trigger">
                <span class="cd-nav-icon"></span>

                <!-- Svg Icon -->
                <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
                    <circle fill="transparent" stroke="#2d3a4b" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                </svg>
            </a>

            <!-- Logo -->
            <div class="logo logo-center"> <a href="#."><img class="img-responsive" src="images/logo-2.png" alt=""></a> </div>
            <!-- Navigation -->
            <nav class="navbar">
                <!-- Nav Right -->
                <div class="nav-right">
                    <ul class="navbar-right">

                        <!-- USER INFO -->
                        <li class="dropdown user-acc">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-user"></i> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <h6>HELLO! Jhon Smith</h6>
                                </li>
                                <li><a href="#">MY CART</a></li>
                                <li><a href="#">ACCOUNT INFO</a></li>
                                <li><a href="#">LOG OUT</a></li>
                            </ul>
                        </li>

                        <!-- USER BASKET -->
                        <li class="dropdown user-basket">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-basket-loaded"></i> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="media-left">
                                        <div class="cart-img"> <a href="#"> <img class="media-object img-responsive" src="images/cart-img-1.jpg" alt="..."> </a> </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading">WOOD CHAIR</h6>
                                        <span class="price">129.00 USD</span> <span class="qty">QTY: 01</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="media-left">
                                        <div class="cart-img"> <a href="#"> <img class="media-object img-responsive" src="images/cart-img-2.jpg" alt="..."> </a> </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading">WOOD STOOL</h6>
                                        <span class="price">129.00 USD</span> <span class="qty">QTY: 01</span>
                                    </div>
                                </li>
                                <li>
                                    <h5 class="text-center">SUBTOTAL: 258.00 USD</h5>
                                </li>
                                <li class="margin-0">
                                    <div class="row">
                                        <div class="col-xs-6"> <a href="shopping-cart.html" class="btn">VIEW CART</a></div>
                                        <div class="col-xs-6 "> <a href="checkout.html" class="btn">CHECK OUT</a></div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <!-- SEARCH BAR -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="search-open"><i class=" icon-magnifier"></i></a>
                            <div class="search-inside animated bounceInUp">
                                <i class="icon-close search-close"></i>
                                <div class="search-overlay"></div>
                                <div class="position-center-center">
                                    <div class="search">
                                        <form>
                                            <input type="search" placeholder="Search Shop">
                                            <button type="submit"><i class="icon-check"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>